header {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem 0;

  & > a {
    display: block;
    max-width: 32em;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    letter-spacing: .2rem;
  }
}

header hgroup,
main article, 
main nav,
footer > p {
  max-width: 32em;
  margin: 0 auto;
  padding: 1.2em;
}

header {
  background-color: rgb(85, 180, 48);
  color: whitesmoke;

  a {
    padding: 1rem 0;
    &:hover {
      border-bottom: none;
    }
  }
  hgroup {
    h1 {
      font-size: 3rem;
      line-height: 1.2;
    }
    h2 {
      font-size: .9rem;
    }
  }
}

main {
  h2 {
    font-size: 2rem;
  }
}

footer {
  display: block;
  background-color: black;
  color: whitesmoke;
  margin-top: 3rem;
}

article {
  a:hover {
    color: #000000;
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  h2 {
    font-size: 1.6rem;
    margin-top: 3rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 500;
  }
  p {
    font-size: .9rem;
    margin: .5rem auto 1rem;

    &.post-date {
      font-size: .6rem;
      margin-top: 0;
      color: #999999;
      text-transform: uppercase;
      letter-spacing: .1rem;
      font-weight: 400;
    }

    img {
      max-width: 100%;
      margin: .5rem auto;
    }
  }
}

.post {
  h2 {
    margin-top: 0;
  }
}