<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>

<body>
    <div class="Background--eden-green">
        <header class="Header wrap">
            <div class="logo">
                Pixeleden
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/blog/">Blog</a>
            </nav>
        </header>
    </div>
    <main>
        <article>
            <section class="wrap">
                {{ content }}
            </section>
        </article>
    </main>
    <footer>
        <div class="wrap">
            &copy; 2018 Pixeleden
        </div>
    </footer>
</body>

</html>