<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-246916-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());   
    
      gtag('config', 'UA-246916-5');
    </script>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>

<body>
    <header>
        <hgroup>
            <h1>
                <a href="/">
                    Pixeleden
                </a>
            </h1>
            <h2>Digital garden and journal of Allan Reyes</h2>
        </hgroup>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2018 Pixeleden</p>
    </footer>
</body>

</html>